<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="dev.friendline.messenger.data.TestAttachmentViewerActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay" />
    </application>
</manifest>
